.Result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
  color: rgba(27, 31, 238, 0.973);
} 

.Result .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}
 
.Result h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Result-information {
  display: flex;
  justify-content: space-between;
}

.Result-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Result-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Result-zip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Result-zip h3 {
  color: rgba(27, 31, 238, 0.973);
  font-weight: 600;
}

.Result-zip .rating {
  font-size: .88rem;
  line-height: 1rem;
  color:  rgba(27, 31, 238, 0.973);
}

.ticketType {
  color: #c9b92f;
  font-weight: 600;
}
